@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Orbitron');


body {
    background-attachment: fixed;
    background:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
                url('https://c1.staticflickr.com/3/2387/2079485687_0f407d2fc2_b.jpg');
    background-repeat: no-repeat;
    background-size: cover;            
}

#name-div {
    text-shadow: 1px 1px 2px white;
}

